header{
    background-color: coral;
}
footer{
    background-color: yellowgreen;
}
section{
    background-color: aqua;
}
aside{
    background-color: blueviolet;
}
nav{
    background-color: skyblue;
}